@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  display: flex;
}

#logo1 {
  margin: 1% 7%;
}

.nav1 {
  width: 70%;

  text-align: center;
  margin-left: -2.5%;
  margin-top: 2%;
}

.nav1 a {
  font-family: "Montserrat";
  padding: 3%;
  font-size: larger;
  text-decoration: none;
  color: #1e1b6d;
}

.nav1 a:hover {
  color: #493eeb;
  transition: 0.5s;
}

#eli {
  margin-right: 2%;
  width: 30%;
}

.button {
  background-color: #493eeb;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6% 3%;
  cursor: pointer;
  font-family: "Montserrat";
}

.button:hover {
  background-color: #1e1b6d;
  transition: 0.3s;
}

.hy{
    color: #493EEB;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: -40%;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 50%;
}
.more-then{
    font-weight: bold;
    font-size: 30px;
}



.languages2{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
  
    gap: 20px;
}
.rectgle1{
    background-color: #1E1B6D;
    width: 10%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;width: 100%;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    grid: 150px;
}


/* test */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);


body {
  background: #ffffff;
  color: #1E1B6D;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #1E1B6D;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
a.btn:hover{
background: #f3f3f3;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
  color: #1E1B6D;
  border: 2px solid #1E1B6D;
}
.no-touch a.btn:hover {
  background: #1E1B6D;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #1E1B6D;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
  }

  .card__image-holder {
    background: #f3f3f3;
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: #ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;

    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;

      span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }

      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;

      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }
  

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }

  div.card-flap {
    background: #e6e6e6;
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: #ff6666 !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}
